@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

:root {
    --color-primary-bg: #18b8c8;
    --color-primary-text: #151e1e;
}
body {
    background-image: url("./assets/images/bg.jpg");
    font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.object-fit-cover {
    width: 100%;
    object-fit: cover;
}

/*/======= 模組區 END ======/ */

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-bg);
    border-bottom: 10px solid transparent;
    border-image: url("./assets/images/header-border-clipped.png") 11 11;

    .co-branding {
        align-self: start;
        margin-bottom: -1rem;
    }

    nav {
        margin-top: 1rem;
        max-width: 600px;

        a {
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 99rem;
            text-align: center;
            color: var(--color-primary-text);
            font-weight: 500;

            &.active {
                background-color: gold;
            }
        }
    }
}

.top-section>p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
}
