a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.object-fit-cover {
    width: 100%;
    object-fit: cover;
}

/*/======= 模組區 END ======/ */

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18b8c8;

    .co-branding {
        align-self: start;
    }

    nav {
        max-width: 800px;
        a {
            display: block;
            padding: 0.5rem 1rem;
            text-align: center;
            border-radius: 99rem;
            color: #111;

            &.active {
                background-color: gold;
            }
        }
    }
}
