@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

:root {
    --color-primary-light-bg: #18b8c8;
    --color-primary-dark-bg: #208597;
    --color-primary-dark-text: #151e1e;
    --color-emphasis-light-text: #03525F;
    --white: #fff;
    --black: #000;
}
body {
    background-image: url("./assets/images/bg.jpg");
    color: #444;
    font-family: "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.object-fit-cover {
    width: 100%;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/======= 模組區 END ======/ */

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-light-bg);
    border-bottom: 10px solid transparent;
    border-image: url("./assets/images/header-border-clipped.png") 11 11;

    .co-branding {
        align-self: start;
        margin-bottom: -1rem;
    }

    nav {
        margin-top: 1rem;
        max-width: 600px;

        a {
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 99rem;
            text-align: center;
            color: var(--color-primary-dark-text);
            font-weight: 500;

            &.active {
                background-color: gold;
            }
        }
    }
}

.top-section-box {
    position: relative;

    > img:first-child {
        position: absolute;
        top: 0;
        left: 20%;
    }

    > p {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.6;
    }
}
/*/=======================/*/

.info-board {
    margin: 4rem auto;
    background-color: var(--white);
    border-radius: 2rem;
    max-width: 960px;
    /* padding: 2.5rem; */
    border: 2px solid var(--color-primary-light-bg);
    position: relative;

    li {
        margin-block: 1rem;
    }
    span {
        color: var(--color-emphasis-light-text);
    }
}
.info-title {
    background-color: var(--color-primary-dark-bg);
    color: var(--white);
    width: 6rem;
    height: 6rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;

    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 768px) {
        left: 0;
    }
}
.agenda-img {
    bottom: 0;
    left: -5%;
}

.notice li {
    text-align: justify;
}

/*/======= Footer ======/ */

.brands-wrap > h2 {

    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #555;
    color: #ddd;
}
.setn-logo {
    filter: saturate(0) contrast(2);
    opacity: 0.6;
}
.copyright {
    margin: 0;
    line-height: 3;
    color: var(--white);
    text-align: center;
}